
@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  background: linear-gradient(
    92.23deg,
    #000000 21.43%,
    #353a3b 50.63%,
    #000000 100%,
    #000000 117.04%
  );
  box-shadow: 0px 2.42184px 20.23px rgba(7, 7, 7, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #1a1919 21.43%,
    #515152 50.63%,
    #444343 100%,
    #2b2b2b 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #000000 21.43%,
    #353a3b 50.63%,
    #000000 100%,
    #000000 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}



@layer base {
  @font-face {
    font-family: 'NeueMontreal';
    src: url('./assets/fonts/PPNeueMontreal-Medium.otf');
  }

  .section {
    @apply flex items-center;
}

@media (min-width: 300px) {
    .section {
        @apply py-4 mb-2 ;
    }
}

@media (min-width: 640px) {
    .section {
        @apply py-8 mb-4;
    }
}

@media (min-width: 768px) {
    .section {
        @apply py-12 mb-8;
    }
}

@media (min-width: 960px) {
    .section {
        @apply py-16 mb-12;
    }
}

@media (min-width: 1200px) {
    .section {
        @apply py-24 mb-16;
    }
}

  body {
    @apply font-secondary text-lg leading-8 text-white bg-[#ece7e1];
  }

  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary text-[24px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-[white] font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#ffffff] to-[#000000] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }

  .about-heading{
    @apply  mt-8 mb-[-1px];
  }
  .tag{
    @apply px-1 m-1 bg-[#1a1818] rounded-md text-[#ece7e1];
  }
}
